//- Located in the components folder
nav(aria-label="Main Navigation")
    ul
        li
            a(href="/")
                | Project Logo
        ul
            li
                a(href="#") Item One
            li
                a(href="#") Item Two
            li
                a(href="#") Item Three

