//- Varibles
- const projectTitle = "🧑‍💻 Do Great Work"
- var varDev = ['HTML/CSS', 'Vanilla Javascript', 'React', 'Swift', 'PHP', 'SASS', 'PUG', 'SVELT', 'Electron', 'React Native'];
- var varArt = ['Figma (Design Tools)', 'Figma Plugins (Creating my own tools)', 'Blender', 'Cinema 4D', 'Any of the Adobe products'];
- var topThreeNow = ['Color Contrast Library Restructuring', 'Future Thinking', 'Designing for multiple data points'];
//- ===============
doctype html
html
    include components/head.pug
    body
        include components/nav.pug
        main
            //- - const title = "Hello Friend";
            //- include components/hero.pug
            section
                article
                    h1 Hello Friend 👋
                    p My name is Kyle; I work during the day as a product designer at Roadtrippers. Building out the tools and features we want to use when traveling. Focusing on building products, long-term strategy, and growing a systems garden for the team as a whole.
                    p Over the years, I have worked as a graphic designer, art director, web developer, videographer, photographer, motion designer, UX designer, UX researcher, and UI Wizard. Building experiences for clients ranging from the NFL, Museums, Colleges, a few Governments, simple consumer-facing products.
                article
                    h2 Hyper focused intrests
                    p These intrests should be classified as skills now.
                    containerInterists
                        listDev
                            h3 Dev types of things
                            ul
                                each val in varDev
                                    li=  val
                        list
                            h3 Design types of things
                            ul
                                each val in varDev
                                    li=  val
            section
                article
                    h2 Whats going on Now ⚡️
                    ul
                        each val in topThreeNow
                            li=  val




        include components/footer.pug